<div class="row">
    <div class="col-xs-12 footer">
        <p class="text-right">
            <a href="/p/1/">浏览图库</a>
            /
            <a href="https://www.microsoft.com/store/apps/9nblggh6cxp8" target="_blank">获取应用</a>
            /
            <a href="https://chat.daovoice.io/?id=59385141" target="_blank" rel="nofollow">联系反馈</a>
            /
            <a href="/settings/">设置</a>
        </p>
        <p class="text-left">
            <a href="https://www.upyun.com/" target="_blank" rel="nofollow"><img src="https://cdn.penbeat.cn/assets/069e3dd494162aa4/images/5ceb86514a86485928.png" alt="UPYUN" style="height: 25px; margin-right: 5px;"></a>
            <a href="https://www.maoyuncloud.com/" target="_blank" rel="nofollow"><img src="https://cdn.penbeat.cn/assets/069e3dd494162aa4/images/5ceb85f1945ae33825.png" alt="Maoyun" style="height: 25px;"></a>
        </p>
    </div>
</div>
</div>
<script src="https://cdn.penbeat.cn/assets/069e3dd494162aa4/js/vendor/jquery.min.js"></script>
<script src="https://cdn.penbeat.cn/assets/069e3dd494162aa4/js/flat-ui.min.js"></script>
</body>
</html>
