<div class="row">
    <div class="col-xs-12 footer">
        <p class="text-right">
            <a href="/p/1/">浏览图库</a>
            /
            <a href="https://www.microsoft.com/store/apps/9nblggh6cxp8" target="_blank">获取应用</a>
            /
            <a href="https://chat.daovoice.io/?id=59385141" target="_blank" rel="nofollow">联系反馈</a>
            /
            <a href="/settings/">设置</a>
        </p>
        <p class="text-left">
            <a href="https://www.upyun.com/" target="_blank" rel="nofollow"><img src="https://cdn.jsdelivr.net/gh/brentybh/homepage-gallery@5f92ffa5957159a5810d70a646ff7e805a98c4dd/assets/images/5ceb86514a86485928.png" alt="UPYUN" style="height: 25px; margin-right: 5px;"></a>
        </p>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/combine/gh/brentybh/homepage-gallery@5f92ffa5957159a5810d70a646ff7e805a98c4dd/assets/js/vendor/jquery.min.js,gh/brentybh/homepage-gallery@5f92ffa5957159a5810d70a646ff7e805a98c4dd/assets/js/flat-ui.min.js"></script>
</body>
</html>
