<!DOCTYPE html>
<html lang="zh">

    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/flat-ui.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVR42mNgAAIAAAUAAen63NgAAAAASUVORK5CYII=" type="image/png">
    </head>

    <body>
        <style>
            body {
                padding-bottom: 150px;
            }

            .wallpaper {
                width: 100%;
            }

            .footer {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .pgr {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .story {
                padding-top: 25px;
            }

            .flag {
                width: 32px;
            }

            .para-of-date {
                padding-top: 3px;
                padding-bottom: 3px;
            }

            .flag-of-date {
                width: 23px;
            }
        </style>
        <div class="container-fluid">
